<h1><%= @survey.name %></h1>

<p class="tagline">
  Welcome to the Strive Talent assessment. Enter your email to start the survey.
</p>

<%= form_for @survey_response do |f| %>
  <%= f.text_field :email, placeholder: 'Email' %>

  <%= f.submit 'Start' %>
<% end %>
